.card-img-top {
  width: 275px;
  height: 182px;
}

button{
  border: none;
}

.card{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.3);
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  color: white;
}
.btn-outline-secondary{
  background-color: white;
}
.btn-outline-secondary:hover{
  color: black;
}
[disabled]{
  background-color: rgba(255, 255, 255, 0.16);
}