<div class="card mt-2">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="card-img-top img-fluid" src="{{imgUrlDefault}}" alt="Card image cap">
            </div>

            <div class="col-md-5">
                <h4>{{ship.name}}</h4>

                <div class="row">
                    <div class="col-sm-4">Level:</div>
                    <div class="col-sm-8">{{ship.level}}</div>
                </div>

                <div class="row">
                    <div class="col-sm-4">Health:</div>
                    <div class="col-sm-8">{{ship.health}}</div>
                </div>

                <div class="row">
                    <div class="col-sm-4">Fuel:</div>
                    <div class="col-sm-8">{{ship.fuel}}</div>
                </div>

                <div class="row">
                    <div class="col-sm-4">Price:</div>
                    <div class="col-sm-8">{{ship.silver}}</div>
                </div>

                <div *ngIf="ship.isPurchased" class="progress">
                    <div class="progress-bar" [class]="ship.healthClass" role="progressbar"
                         [style.width.%]="ship.percentOfHealth"
                         [attr.aria-valuenow]="ship.percentOfHealth" aria-valuemin="0" aria-valuemax="100">
                        {{ship.percentOfHealth.toFixed(1)}}%
                    </div>
                </div>
            </div>

            <div class="col-md-3 text-center btn-group-vertical d-block pt-2">
                <div *ngIf="!ship.isPurchased">
                    <div class="btn-group-vertical btn-group-lg btn-block" role="group">
                        <button class="btn-lg btn-block btn-light" (click)="buyShip(ship)" type="submit">Silver Buy
                        </button>
                        <button class="btn-lg btn-block btn-light" (click)="buyShip(ship)" type="submit">Gold Buy
                        </button>
                    </div>
                </div>
                <div *ngIf="ship.isPurchased">
                    <button class="btn-lg btn-block btn-light"
                            [disabled]="ship.user_ship.repair_start_at"
                            (click)="toGame(ship)"
                    >To game
                    </button>
                    <button class="btn-lg btn-block btn-light"
                            *ngIf="!ship.user_ship.favorite"
                            [disabled]="ship.user_ship.repair_start_at"
                            (click)="addToFavorite()"
                    >Add to Favorite
                    </button>
                    <button class="btn-lg btn-block btn-light"
                            *ngIf="ship.user_ship.favorite"
                            [disabled]="ship.user_ship.repair_start_at"
                            (click)="removeFromFavorite()"
                    >Remove from Favorite
                    </button>
                    <button class="btn-lg btn-block btn-light" type="submit"
                            *ngIf="!ship.user_ship.repair_start_at"
                            (click)="toRepair()"
                    >
                        To repair
                    </button>
                    <button class="btn-lg btn-block btn-outline-secondary" type="submit"
                            *ngIf="ship.user_ship.repair_start_at"
                            (click)="fromRepair()"
                    >
                        From repair
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
