<div class="modal-window">
  <div class="modal-header text-center">
    <h4 class="modal-title pull-left">Destroyed</h4>
  </div>
  <div class="modal-body text-center time">
    {{time}}
    <button type="button" class="btn btn-danger" (click)="toHangar()">Back to hangar</button>
  </div>
</div>