.time {
    font-size: 96px;
}

.timer {
    background-color: green;
}

.modal-window {
    color: green;
    border: 2px solid green;
}

.modal-header {
    border-bottom: 0;
    display: block;
}

.modal-header h4 {
    font-size: 3.5rem;
}