.score {
    padding: 56px;
    color: #ff9800;
    margin: 0 auto;
    overflow-x: hidden;
}

.select-times {
    width: 200px;
    margin: 2rem 0;
    background-color: transparent;
    color: #ff9800;
    border: 1px solid #ff9800;
}

.select-times option {
    background-color: transparent;
}

.center {
    margin-left: auto;
    margin-right: auto;
}
