<app-header [user]="user"></app-header>

<app-animated-background></app-animated-background>

<div class="row text-center">
  <div class="alert alert-danger" role="alert" *ngIf="error">
    {{error}}
  </div>

  <div class="score">
    <div class="title text-center">
      <h1>Score</h1>
    </div>
    <select class="form-control select-times center" (change)="onChange($event.target.value)">
      <option [ngValue]="day">Day</option>
      <option [ngValue]="week">Week</option>
      <option [ngValue]="month">Month</option>
      <option [ngValue]="all">All</option>
    </select>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">Place</th>
        <th scope="col">Nickname</th>
        <th scope="col">Level</th>
        <th scope="col">Time Lap</th>
        <th scope="col">Favorite Ship</th>
        <th scope="col">Gold / Silver</th>
        <th scope="col">Wins</th>
        <th scope="col">Exp</th>
      </tr>
      </thead>
      <tbody *ngIf="currentPeriodStatistic">
      <tr *ngFor="let stat of currentPeriodStatistic; index as i">
        <td scope="col">{{i + 1}}</td>
        <td scope="col">{{stat.nickname}}</td>
        <td scope="col">{{stat.level}}</td>
        <td scope="col">{{stat.time}}</td>
        <td scope="col">{{stat.favorite}}</td>
        <td scope="col">{{stat.gold}} / {{stat.silver}}</td>
        <td scope="col">{{stat.wins}}</td>
        <td scope="col">{{stat.exp}}</td>
      </tr>
      <tr *ngIf="currentUserPlace > enConstNum.RATING_COUNT">
        <td scope="col"></td>
        <td scope="col"></td>
        <td scope="col"></td>
        <td scope="col"></td>
        <td scope="col"></td>
        <td scope="col"></td>
        <td scope="col"></td>
      </tr>
      <tr *ngIf="currentUserPlace >= enConstNum.RATING_COUNT">
        <td scope="col">{{currentUserStatistic.nickname}}</td>
        <td scope="col">{{currentUserStatistic.level}}</td>
        <td scope="col">{{currentUserStatistic.time}}</td>
        <td scope="col">{{currentUserStatistic.favorite}}</td>
        <td scope="col">{{currentUserStatistic.gold}} / {{currentUserStatistic.silver}}</td>
        <td scope="col">{{currentUserStatistic.wins}}</td>
        <td scope="col">{{currentUserStatistic.exp}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>