<ngx-spinner type="ball-circus" size="large" color="#2cff00">
    <p style="font-size: 20px; color: white">Sending confirmation request</p>
</ngx-spinner>

<app-header [user]="user"></app-header>

<app-animated-background></app-animated-background>

<div class="container dock">
    <div class="alert alert-danger" role="alert" *ngIf="error">
        {{error}}
    </div>

    <div class="card mt-2">
        <div class="card-body p-2">
            <div class="row">
                <div class="btn-group btn-group-toggle col-sm-9" data-toggle="buttons">
                    <label class="btn btn-outline-light" [class.active]="shipFilter === enShipsFilter.favorite">
                        <input type="radio" name="filterShips" (change)="changeFilter(enShipsFilter.favorite)">
                        Favorites
                    </label>

                    <label class="btn btn-outline-light" [class.active]="shipFilter === enShipsFilter.inHangar">
                        <input type="radio" name="filterShips" (change)="changeFilter(enShipsFilter.inHangar)">
                        In hangar
                    </label>

                    <label class="btn btn-outline-light" [class.active]="shipFilter === enShipsFilter.available">
                        <input type="radio" name="filterShips" (change)="changeFilter(enShipsFilter.available)">
                        Available
                    </label>

                    <label class="btn btn-outline-light" [class.active]="shipFilter === enShipsFilter.all">
                        <input type="radio" name="filterShips" (change)="changeFilter(enShipsFilter.all)">
                        All
                    </label>
                </div>

                <div class="btn-order col-md-3 text-right">
                    <button class="btn btn-outline-light" (click)="switchSortOrder()">
                        Order
                        <fa-icon [icon]="['fas', shipOrder === enShipsOrder.levelAsc ? 'caret-up' : 'caret-down']"
                                 size="1rem"
                                 class="justify-content-center"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="ships">
        <app-ship *ngFor="let ship of ships | shipsFilter: shipFilter | shipsOrder: shipOrder"
                  [ship]="ship"
                  (error)="getError($event)"
        ></app-ship>
    </div>
</div>
