<nav id="navbar" class="navbar navbar-expand-lg navbar-light fixed-top">
  <span class="navbar-brand mb-0 h1">Space Keyboard Racing</span>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse col-md-9" id="navbarText">
    <ul class="navbar-nav center-block w-100 justify-content-center col-md-7">
      <li class="nav-item">
        <button class="btn btn-sm btn-outline-light btn-space" (click)="router.navigate(['dock'])">Hangar</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-sm btn-outline-light btn-space" (click)="router.navigate(['score'])">Score</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-sm btn-outline-light btn-space" (click)="router.navigate(['setting'])">Settings</button>
      </li>
    </ul>

    <div class="nav-money col-md-3" *ngIf="user">
      <span class="btn-space align-text-bottom">
          <fa-icon [icon]="['fas', 'coins']" style="color:silver"></fa-icon>
          {{user.silver}}
      </span>
      <span class="align-text-bottom">
        <fa-icon [icon]="['fas', 'coins']" style="color:gold"></fa-icon>
        {{user.gold}}
      </span>
      <span class="align-text-bottom ml-3">
        <a href="#"><fa-icon [icon]="['fas', 'plus']" style="color:black"></fa-icon></a>
      </span>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a routerLink="/main/logout" routerLinkActive="active">Logout</a>
        </li>
      </ul>
    </div>

    <!--<span class="nav-item text-left col-md-2">-->
    <!--<a class="nav-link" href="/main/logout">Logout</a>-->
    <!--</span>-->
  </div>
</nav>
