.btn-space {
  margin-right: 20px;
}

.navbar-nav:last-child {
  margin-right: 0;
}

.nav-money {
  display: inline-flex;
}

#navbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

#navbar span, a {
  color: white;
}
