.progress-bar {
  background-color: yellow;
}

.progress-bar-health {
  background-color: green;
  height: 70%;
}

.progress-bar-fuel {
  background-color: blue;
  height: 30%;
}

.line {
  border-top: 2px dashed #ff9800;
  margin: 10px 10px 10px 75px;
}

.race {
  width: calc(100% - 100px);
  //height: 100px;
  //background: url(/assets/images/ship3.png) no-repeat left center;
  background-size: auto 100px;
}

.track-place {
  position: relative;
  padding-left: 75px;
  padding-right: 100px;
}

.fuel-pipe {
  background: url(/assets/images/pipe.png) no-repeat left center;
  background-size: 40%;
  z-index: 1;
  height: 100%;
  width: 150px;
  position: absolute;
}

.fuel-dispenser {
  background: url(/assets/images/dispenser.png) no-repeat left center;
  background-size: 70%;
  z-index: 10;
  height: 100%;
  width: 100px;
  position: absolute;

}

.fuel {
  position: relative;
}

.nickname {
  position: absolute;
  color: #ff9800;
  opacity: 0.6;
}

.health {
  width: 100px;
  max-width: 100px;
  height: 10px;
  background-color: gray;
  opacity: 0.7;
}

.ship {
  width: 100px;
  height: 100px;
}

.finish {
  margin-right: 100px;
}