<div class="fuel">
  <div class="fuel-pipe" [@refueling]="refuelState"></div>
  <div class="fuel-dispenser"></div>

  <!--<ul>-->
  <!--<li>User: {{ship.nickname}}</li>-->
  <!--<li>Ship: {{ship.name}}</li>-->
  <!--<li>Health: {{ship.health}}</li>-->
  <!--<div class="progress-bar">-->
  <!--<div class="progress-bar-progress" role="progressbar" [style.width.%]="currentPosition"-->
  <!--[attr.aria-valuenow]="currentPosition" aria-valuemin="0" aria-valuemax="100">-->
  <!--{{currentPosition}}-->
  <!--</div>-->
  <!--</div>-->


  <!--</ul>-->
  <!--<div class="text-white">{{ship.nickname}}</div>-->
  <div class="line"></div>

  <div class="track-place">
    <div class="nickname">{{ship.nickname}}</div>

    <div
      [@moveAnimation]="getAnimatePositionValue()"
      class="race"
      (@moveAnimation.start)="animStart($event)"
    >
      <img class="ship" src="/assets/images/ship3.png" alt="">
      <div class="health rounded">
        <div class="progress-bar-health rounded" role="progressbar" [style.width.%]="getPercentHealth"
             [attr.aria-valuenow]="getPercentHealth" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar-fuel rounded" role="progressbar" [style.width.%]="100"
             [attr.aria-valuenow]="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="fuel rounded">

      </div>
    </div>
    <div class="finish"></div>
  </div>
</div>
