<div class="word">
  <div class="previous-word">{{prevWord}}</div>
  <div class="current-word">{{word}}</div>
  <div class="next-word">{{nextWord}}</div>
</div>
<form (keyup)="keyUpFunction($event)" onsubmit="return false;">
  <input type="text" [(ngModel)]="inputWord" name="inputWord" (focus)="true" autofocus autocomplete="off">
</form>
