.word {
  display: flex;
  align-items: center;
  margin: 10px;
  text-align: center;
}

.previous-word, .current-word, .next-word {
  min-width: 200px;
  width: fit-content;
  border: 1px solid #ff9800;
  color: #ff9800;
}

.current-word {
  font-size: 48px;
}

.previous-word, .next-word {
  margin: 15px;
  font-size: 24px;
  opacity: 0.5;
}

.next-word {
}

.previous-word {
  color: green;
}

input {
  font-size: 24px;
}