np
<div class="row justify-content-md-center auth-frame">
  <div class="col-sm-4 shadow p-4 mb-5 bg-white rounded">
    <h3 class="text-center">Sign In</h3>
    <br>

    <div class="alert alert-danger" role="alert" *ngIf="error">
      {{error}}
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="email" class="form-control" id="email" name="email" formControlName="email" required
               placeholder="Enter email"
               [class.is-invalid]="email.errors && email.dirty"
               [class.is-valid]="!email.errors"
        >
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
          <div *ngIf="email.errors.required"> Email is required.</div>
          <div *ngIf="email.errors.email"> Invalid email address.</div>
        </div>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" id="password" name="password" formControlName="password" required
               placeholder="Password"
               [class.is-invalid]="password.errors && password.dirty"
               [class.is-valid]="!password.errors"
        >
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
          <div *ngIf="password.errors.required"> Password is required.</div>
          <div *ngIf="password.errors.minlength"> Password to short, must be at least
            {{password.errors.minlength.requiredLength}} characters.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="remember-me" name="remember_me"
                   formControlName="remember_me">
            <label class="form-check-label" for="remember-me">Remember me</label>
          </div>
        </div>

        <div class="col text-right">
          <a routerLink="/main/forgot-password">Forgot password?</a>
        </div>
      </div>

      <br>
      <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid">Submit</button>
    </form>
  </div>

  <div class="w-100"></div>

  <div class="col-sm-4 text-right sign-redirect">
    <span>Not registered?</span>

    <a routerLink="/main/register" class="btn btn-link">Sign up!</a>
  </div>
</div>


