/deep/ body {
  //overflow: hidden;
}

.track {
  padding: 20px;
}

.timer-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

@keyframes animate-background {
  from {
    background-position: 512px 0;
  }
  to {
    background-position: 0 0;
  }
}

#background {
  border-radius: 5px;
  background: url(/assets/images/background.png) repeat 5% 5%;
  z-index: -15;
  animation: animate-background linear 20s infinite;
}

.track {
  height: 100vh;
  overflow: hidden;
  padding-top: 56px;
}

.fuel-station {
  background: url(/assets/images/fuel-station.png) no-repeat left top;
  background-size: contain;
}

.word-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
