<div *ngIf="loaded && timeToStart > 0; else trace" class="timer-wrapper">
  <div class="timer">
    Time to Start game:
    <div class="timer-time">
      {{timeToStart}}
    </div>
  </div>
</div>
<app-header [user]="user"></app-header>

<app-animated-background></app-animated-background>

<div class="game" class="track">

  <!--  <div class="fuel-station">-->
  <!--    <div *ngIf="ships">-->
  <!--      <app-ship-->
  <!--        *ngFor="let ship of ships"-->
  <!--        [ship]="ship"-->
  <!--        [level]="level"-->
  <!--        [traceLen]="traceLen"-->
  <!--        (error)="getError($event)"-->
  <!--      ></app-ship>-->
  <!--    </div>-->
  <!--  </div>-->
  <div *ngIf="trackLoad">
    <div *ngFor="let status of info">{{status}}</div>
    <div *ngIf="ships">
      <app-ship *ngFor="let ship of ships"
                [ship]="ship"
                [level]="level"
                [traceLen]="traceLen"
                (error)="getError($event)"
      ></app-ship>
    </div>

    <app-words
      *ngIf="trackLoad && !isFinish"
      (inputTextChange)=sendInputWord($event)
      class="word-container"
      [word]="word"
      [prevWord]="prevWord"
      [nextWord]="nextWord"
    ></app-words>

  </div>
  <div class="game" *ngIf="isDisconnect">
    The End!!!
    {{word}}
    <form (keydown)="keyDownFunction($event)" onsubmit="return false;">
      <input type="text" [(ngModel)]="inputWord" name="inputWord" (focus)="true" autofocus>
    </form>
    <br>
  </div>
</div>
