
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

//Font awesome
//@import "~@fortawesome/fontawesome-free/css/all.css";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.admin-view-ship-img {
  max-height: 200px;
  max-width: 200px;
  margin: 10px
}