<div class="modal-window">
  <div class="modal-header text-center text-success">
    <h4 class="modal-title text-center">You finished {{places[place-1]}}!</h4>
  </div>
  <div class="modal-body text-center time text-success">
    <div class="result center ">
      <div class="result-span col-md-6">
        <p>Earned:</p>
      </div>
      <div class="result-earning col-md-6 text-left">
        <p>{{exp}} exp</p>
        <p>{{silver}} silver</p>
        <p>{{gold}} gold</p>
      </div>
    </div>
    <button type="button" class="btn btn-success" (click)="toHangar()">Back to hangar</button>
  </div>
</div>