<app-header [user]="user"></app-header>

<app-animated-background></app-animated-background>

<div class="settings col-md-7 ">
  <div class="row">

    <form [formGroup]="formProfile" (ngSubmit)="onSubmitEditProfile()" class="form-inputs w-100">
      <h3>Personal information</h3>
      <div class="form-group ">
        <input
          type="text"
          name="nickname"
          formControlName="nickname"
          class="form-control"
          [value]="user && user.nickname ? user.nickname : null"
          placeholder="Your Nickname"
          required
        >
      </div>

      <div class="form-group">
        <h3>Account recovery information</h3>
        <div class="email">
          <span>E-mail: </span> {{user ? user.email : null}}
        </div>
      </div>
      <button type="submit" class="btn btn-apply" [disabled]="!formProfile.valid">Apply</button>
    </form>
    <div *ngIf="editSuccess">
      <p>Your profile successfully updated.</p>
    </div>
    <form [formGroup]="formPassword" (ngSubmit)="onSubmitChangePassword()" class="form-inputs w-100">
      <hr class="line">
      <h3>Change password</h3>
      <div class="form-group">
        <input
          type="password"
          id="oldPassword"
          class="form-control"
          formControlName="oldPassword"
          name="oldPassword"
          placeholder="Old password"
          [class.is-invalid]="password.errors && password.dirty"
          [class.is-valid]="!password.errors"
        >
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
          <div *ngIf="password.errors.required"> Old password is required.</div>
          <div *ngIf="password.errors.minlength"> Old password to short, must be at least
            {{password.errors.minlength.requiredLength}} characters.
          </div>
        </div>
      </div>

      <div class="form-group">
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
          name="password"
          placeholder="New password"
          [class.is-invalid]="password.errors && password.dirty"
          [class.is-valid]="!password.errors"
        >
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
          <div *ngIf="password.errors.required"> Password is required.</div>
          <div *ngIf="password.errors.minlength"> Password to short, must be at least
            {{password.errors.minlength.requiredLength}} characters.
          </div>
        </div>
      </div>

      <div class="form-group">
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          class="form-control"
          formControlName="confirmPassword"
          placeholder="Confirm password"
          [class.is-invalid]="password.errors && password.dirty"
          [class.is-valid]="!password.errors"
        >
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
          <div *ngIf="password.errors.required"> Confirm password is required.</div>
          <div *ngIf="password.errors.minlength"> Confirm password to short, must be at least
            {{password.errors.minlength.requiredLength}} characters.
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-apply" [disabled]="!formPassword.valid">Change password</button>
    </form>
    <div *ngIf="changePasswordSuccess">
      <p>Your profile successfully updated.</p>
    </div>
  </div>
</div>
