.settings {
  padding-top: 56px;
  float: none;
  margin: 0 auto;
  color: #ff9800;
}

h3 {
  display: block;
  padding: 15px;
}

.email {
  width: 100%;
}

.form-control {
  width: 200px;
  margin: 1rem;
}

.form-group {
  clear: both;
  width: 100%;
}

.btn-apply {
  background-color: #ff9800;
  color: black;
}

.line {
  background-color: #ff9800;
}

button {
  margin: 1rem;
}