<ngx-spinner type="ball-circus" size="large" color="#2cff00">
  <p style="font-size: 20px; color: white">Sending confirmation request</p>
</ngx-spinner>
<div class="row justify-content-md-center auth-frame">
  <div class="col-sm-4 shadow p-4 mb-5 bg-white rounded">
    <h3 class="text-center">Sign Up</h3>
    <br>

    <div class="alert alert-danger" role="alert" *ngIf="error">
      {{error}}
    </div>

    <form *ngIf="!registrationSucces" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="email" class="form-control" name="email" formControlName="email" placeholder="Enter email" required
               [class.is-invalid]="email.errors && email.dirty"
               [class.is-valid]="!email.errors"
        >
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
          <div *ngIf="email.errors.required"> Email is required.</div>
          <div *ngIf="email.errors.email"> Invalid email address.</div>
        </div>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" name="password" formControlName="password" placeholder="Password"
               required
               [class.is-invalid]="password.errors && password.dirty"
               [class.is-valid]="!password.errors"
        >
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
          <div *ngIf="password.errors.required"> Password is required.</div>
          <div *ngIf="password.errors.minlength"> Password to short, must be at least
            {{password.errors.minlength.requiredLength}} characters.
          </div>
        </div>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" name="confirm-password" formControlName="confirmPassword"
               placeholder="Confirm Password" required
               [class.is-invalid]="confirmPassword.errors && confirmPassword.dirty"
               [class.is-valid]="!confirmPassword.errors"
        >
        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
             class="invalid-feedback">
          <div *ngIf="confirmPassword.errors.required"> Confirm password is required.</div>
          <div *ngIf="confirmPassword.errors.notMatch"> Password does not match</div>
        </div>
      </div>

      <br>
      <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid">Submit</button>
    </form>
    <div *ngIf="registrationSucces">
      <h4>Registration complete</h4>

      <p>Your profile successfully created.</p>
      <p>Confirmation link is mailed to you.</p>

      <p><a routerLink="/main/login">Sign In</a></p>
    </div>
  </div>

  <div class="w-100"></div>

  <div class="col-sm-4 text-right sign-redirect">
    <span>Already registered?</span>

    <a routerLink="/main/login" class="btn btn-link">Sign in!</a>
  </div>
</div>


