<ngx-spinner type="ball-circus" size="large" color="#2cff00">
  <p style="font-size: 20px; color: white">Sending confirmation request</p>
</ngx-spinner>


<div class="row justify-content-md-center auth-frame">
  <div class="col-sm-6">
    <div class="card text-center shadow mb-3 bg-white rounded" *ngIf="loaded" [class.border-success]="!success"
         [class.border-danger]="!success">
      <div class="card-header">
        <h4>
          <span *ngIf="success; else errorTitle">
            Profile confirmation
          </span>
          <ng-template #errorTitle>Profile confirmation error</ng-template>
        </h4>
      </div>

      <div class="card-body">
        <span *ngIf="success; else errorBody">
          <p>Your profile successfully confirmed.</p>
          <p>Now you can Sign In to your profile.</p>
        </span>
        <ng-template #errorBody>
          <p>Your confirmation token is invalid or expired.</p>
          <p>Please Sign In to your account for take new confirmation mail.</p>
        </ng-template>
      </div>

      <div class="card-footer">
        <a routerLink="/main/login">Sign In</a>
      </div>
    </div>
  </div>
</div>


