<ngx-spinner type="ball-circus" size="large" color="#2cff00">
  <p style="font-size: 20px; color: white">Sending confirmation request</p>
</ngx-spinner>
<div *ngIf="loaded" class="row justify-content-md-center auth-frame">
  <div class="col-sm-4 shadow p-4 mb-5 bg-white rounded">
    <h3 class="text-center">Change Password</h3>
    <br>

    <div class="card-body">
        <span *ngIf="success; else errorBody">
          <form *ngIf="!successChange" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="password" class="form-control" name="password" formControlName="password"
                     placeholder="New password" required
                     [class.is-invalid]="password.errors && password.dirty"
                     [class.is-valid]="!password.errors"
              >
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                <div *ngIf="password.errors.required"> Password is required. </div>
                <div *ngIf="password.errors.minlength"> Password to short, must be at least {{password.errors.minlength.requiredLength}} characters. </div>
              </div>
            </div>

            <div class="form-group">
              <input type="password" class="form-control" name="confirm-password" formControlName="confirmPassword"
                     placeholder="Confirm Password" required
                     [class.is-invalid]="confirmPassword.errors && confirmPassword.dirty"
                     [class.is-valid]="!confirmPassword.errors"
              >
              <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                   class="invalid-feedback">
                <div *ngIf="confirmPassword.errors.required"> Confirm password is required. </div>
                <div *ngIf="confirmPassword.errors.notMatch"> Password does not match </div>
              </div>
            </div>

            <br>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid">Change password</button>
          </form>

            <div *ngIf="successChange">
              <p>Your password successfully changed.</p>
              <p>You can login on the site.</p>

              <p><a routerLink="/main/login">Sign In</a></p>
            </div>
        </span>

      <ng-template #errorBody>
        <p>Your confirmation token is invalid or expired.</p>
        <p>Please Sign In to your account for take new confirmation mail.</p>
      </ng-template>
    </div>

  </div>

  <div class="w-100"></div>

  <div *ngIf="!successChange" class="col-sm-4 text-right sign-redirect">
    <span>Not registered?</span>

    <a routerLink="/main/register" class="btn btn-link">Sign up!</a>
  </div>
</div>
