<ngx-spinner type="ball-circus" size="large" color="#2cff00">
  <p style="font-size: 20px; color: white">Sending confirmation request</p>
</ngx-spinner>

<div *ngIf="onLoaded" class="row justify-content-md-center auth-frame">
  <div class="col-sm-4 shadow p-4 mb-5 bg-white rounded">
    <h3 class="text-center">Reset Password</h3>
    <br>

    <div class="alert alert-danger" role="alert" *ngIf="error">
      {{error}}
    </div>

    <form *ngIf="!successSent" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="email" class="form-control" id="email" name="email" formControlName="email" required
               placeholder="Enter email"
               [class.is-invalid]="email.errors && email.dirty"
               [class.is-valid]="!email.errors"
        >
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
          <div *ngIf="email.errors.required"> Email is required.</div>
          <div *ngIf="email.errors.email"> Invalid email address.</div>
        </div>
      </div>

      <br>
      <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid">Send Reset Link</button>
    </form>

    <div *ngIf="successSent">
      <p>A message has been sent to your email with a link to reset your password</p>
    </div>
  </div>


  <div class="w-100"></div>

  <div class="col-sm-4 text-right sign-redirect">
    <span>Not registered?</span>

    <a routerLink="/main/register" class="btn btn-link">Sign up!</a>
  </div>
</div>
